NEXT_PUBLIC_SITE_URL=https://novarosolution.com
NEXT_PUBLIC_API_URL=http://localhost:5001
NEXT_PUBLIC_SANITY_PROJECT_ID=2a50o6hm
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2025-01-01
NEXT_PUBLIC_SANITY_ORGANIZATION_ID=o7604bdt3
